


<script>

    function BtnClicked(){

    var noOfSelected = CountChecked();

        if(noOfSelected >= 1 && noOfSelected < 3 ){
            return true;
        }
        else{
            document.getElementById("supportError").style.visibility = "visible";
            document.getElementById("supportError").classList.add("app-options-validation");
            document.getElementById("supportError").innerText = "Please select at least one option and a maximum of two.";

        return false;
        }
    }

    function CountChecked(){
        var count = 0;
        var element = document.getElementsByClassName("govuk-checkboxes__input");
        var count = 0;
        for(var i=0; i < element.length; i++){
        if(element[i].checked)
            count++;
        }
        return count;
    }

</script>


<%= link_to("Back", current_page_params.merge(step: '0'), class: "govuk-back-link") %>


    <%= form_tag('/services',{:method => "get", :enforce_utf8 => true}) do %>

    <div class="govuk-checkboxes app-checkbox-wrapper">


    <h1 class="govuk-heading-l"><%= @questions["type_of_support"]["title"] %></h1>
    <p class="govuk-label app-label-question"><%= @questions["type_of_support"]["subtitle"] %></p>
    <p class="govuk-hint"><%= @questions["type_of_support"]["hint"] %></p>

    <br/>
    <div class="app-checkboxes app-checkboxes--two-columns">

        <% @questions["type_of_support"]["answers"].each do |answer| %>
        <div class="app-checkbox-width_container">
            <div class="govuk-checkboxes__item">
            <%= check_box_tag("sprt[]", value = answer["value"], checked = @sprt.include?(answer["value"]) ? true : false , options = {
                class: 'govuk-checkboxes__input',
                id: "support-#{answer["value"]}"
            }) %>
            <%= label_tag("support-#{answer["value"]}", answer["title"] , class:'govuk-label govuk-checkboxes__label' ) %>
            </div>
        </div>
        <% end %>

    </div>
    
        <% @persist.except("sprt").each do |key,value| %>
        <%= hidden_field_tag(key,value) %>


        <% end %>

    </div>


<div id="supportError">
</div>

  <br/>
  <p>
    <%= button_tag("Continue", type: 'submit', name: 'step', value: '2', class:'app-button app-button--start', onclick:'return BtnClicked()') %>
  </p>
<% end %>




