


<script>

    function BtnClicked(){

    var noOfSelected = CountChecked();

        if(noOfSelected >= 1 && noOfSelected < 3 ){
            return true;
        }
        else{
            document.getElementById("supportError").style.visibility = "visible";
            document.getElementById("supportError").classList.add("app-options-validation");
            document.getElementById("supportError").innerText = "Please select at least one option and a maximum of two.";

        return false;
        }
    }

    function CountChecked(){
        var count = 0;
        var element = document.getElementsByClassName("govuk-checkboxes__input");
        var count = 0;
        for(var i=0; i < element.length; i++){
        if(element[i].checked)
            count++;
        }
        return count;
    }

</script>


<%= link_to("Back", current_page_params.merge(step: '0'), class: "govuk-back-link") %>


    <%= form_tag('/services',{:method => "get", :enforce_utf8 => false}) do %>

    <div class="govuk-checkboxes app-checkbox-wrapper">


    <h1 class="govuk-heading-l"><%= @questions["type_of_support"]["title"] %></h1>
    <p class="govuk-label app-label-question"><%= @questions["type_of_support"]["subtitle"] %></p>
    <p class="govuk-hint"><%= @questions["type_of_support"]["hint"] %></p>
    <br>

    <% @questions["type_of_support"]["answers"].each do |answer| %>
      <div class="app-checkbox-width_container">
        <div class="govuk-checkboxes__item app-checkbox-width-third">
          <%= check_box_tag("sprt[]", value = answer["value"], checked = @sprt.include?(answer["value"]) ? true : false , options = {
              class: 'govuk-checkboxes__input',
              id: "support-#{answer["value"]}"
          }) %>
          <%= label_tag("support-#{answer["value"]}", answer["title"] , class:'govuk-label govuk-checkboxes__label' ) %>
        </div>
      </div>
    <% end %>

       <!--  <div class="app-checkbox-width_container">
            <div class="govuk-checkboxes__item app-checkbox-width-third">
                <%= check_box_tag("sprt[]", value = "applying", checked = @sprt.include?('applying') ? true : false , options = {
                    class: 'govuk-checkboxes__input',
                    id: "support-applying"
                }) %>
                <%= label_tag("support-applying", "I need help looking and applying for jobs" , class:'govuk-label govuk-checkboxes__label' ) %>
            </div>

            <div class="govuk-checkboxes__item">
                <%= check_box_tag("sprt[]", value = "outofwork", checked = @sprt.include?('outofwork') ? true : false , options = {
                    class: 'govuk-checkboxes__input',
                    id: "out-of-work"
                    }) %>
                <%= label_tag("out-of-work", "I have been out of work for a long time" , class:'govuk-label govuk-checkboxes__label') %>
            </div>
        </div>

        <br>

        <div class="app-checkbox-width_container">
            <div class="govuk-checkboxes__item app-checkbox-width-third">

                <%= check_box_tag("sprt[]", value = "startbusiness", checked = @sprt.include?('startbusiness') ? true : false, options = {class: 'govuk-checkboxes__input', id: "start-business"}) %>
                <%= label_tag("start-business", "I want to start my own business" , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>
            <div class="govuk-checkboxes__item">

                <%= check_box_tag("sprt[]", value = "betterwork", checked = @sprt.include?('betterwork') ? true : false, options = {class: 'govuk-checkboxes__input', id: "betterwork"}) %>
                <%= label_tag("betterwork", "I want to find work better suited to my interests"  , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>
        </div>

        <br>

        <div class="app-checkbox-width_container">
            <div class="govuk-checkboxes__item app-checkbox-width-third">

                <%= check_box_tag("sprt[]", value = "returning", checked = @sprt.include?('returning') ? true : false, options = {class: 'govuk-checkboxes__input', id: "returning"}) %>
                <%= label_tag("returning", "I am a parent returning to work" , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>

            <div class="govuk-checkboxes__item">

                <%= check_box_tag("sprt[]", value = "finance", checked = @sprt.include?('finance') ? true : false, options = {class: 'govuk-checkboxes__input', id: "finance"}) %>
                <%= label_tag("finance", "I need help improving my financial situation" , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>
        </div>

        <br>

        <div class="app-checkbox-width_container">
            <div class="govuk-checkboxes__item app-checkbox-width-third">

                <%= check_box_tag("sprt[]", value = "schedule", checked = @sprt.include?('schedule') ? true : false, options = {class: 'govuk-checkboxes__input', id: "schedule"}) %>
                <%= label_tag("schedule", "I want to find work that fits my schedule" , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>
            <div class="govuk-checkboxes__item">

                <%= check_box_tag("sprt[]", value = "health", checked = @sprt.include?('health') ? true : false, options = {class: 'govuk-checkboxes__input', id: "health"}) %>
                <%= label_tag("health", "I am dealing with health issues at work"  , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>
        </div>

        <br>

        <div class="app-checkbox-width_container">
            <div class="govuk-checkboxes__item app-checkbox-width-third">

                <%= check_box_tag("sprt[]", value = "othersprt", checked = @sprt.include?('othersprt') ? true : false, options = {class:'govuk-checkboxes__input', id: "othersprt"}) %>
                <%= label_tag("othersprt", "Other" , class:'govuk-label govuk-checkboxes__label' ) %>

            </div>
        </div> -->

        <% @persist.except("sprt").each do |key,value| %>
        <%= hidden_field_tag(key,value) %>


        <% end %>

    </div>


<div id="supportError">
</div>

  <br/>
  <p>
    <%= button_tag("Continue", type: 'submit', name: 'step', value: '2', class:'app-button app-button--start', onclick:'return BtnClicked()') %>
  </p>
<% end %>




