

<script>

  function BtnClicked(){

  var noOfSelected = CountChecked();

      if(noOfSelected >= 1){
          return true;
      }
      else{
          document.getElementById("supportError").style.visibility = "visible";
          document.getElementById("supportError").classList.add("app-options-validation");
          document.getElementById("supportError").innerText = "Please select at least one option.";

      return false;
      }
  }

  function CountChecked(){
      var count = 0;
      var element = document.getElementsByClassName("govuk-radios__input");
      var count = 0;
      for(var i=0; i < element.length; i++){
      if(element[i].checked)
          count++;
      }
      return count;
  }

</script>


<div class="govuk-width-container govuk-body">

<%= link_to("Back", current_page_params.merge(step: '3'), class: "govuk-back-link") %>

<h1 class="govuk-heading-l app-heading-margin-top-bottom">Select the type of help you prefer</h1>


<%= form_tag('/services',{:method => "get", :enforce_utf8 => false}) do %>

  <div class="govuk-checkboxes app-checkbox-wrapper">

  <div class="app-checkbox-width_container">
      <div class="govuk-checkboxes__item app-checkbox-width-third">

          <%= radio_button_tag('type', 'adviser', false, class:'govuk-radios__input', id: "adviser") %>
          <%= label_tag("adviser", "I want to contact an adviser now to find the support that is right for me (recommended)", class:'govuk-label govuk-radios__label') %>

      </div>
   </div>

    <p class="govuk-label app-label-margin-bottom">or</p>

    <div class="app-checkbox-width_container">
      <div class="govuk-checkboxes__item app-checkbox-width-third">

          <%= radio_button_tag('type', 'search', false, class:'govuk-radios__input', id: "search") %>
          <%= label_tag("search", "I'd like to select a local service myself instead", class:'govuk-label govuk-radios__label') %>

    </div>
   </div>


  <% @persist.except("type").each do |key,value| %>
    <%= hidden_field_tag(key,value) %>
  <% end %>


  </div>

  <div id="supportError">
  </div>

  <p>
    <%= button_tag("Continue", type: 'submit', name: 'step', value: '5', class:'app-button app-button--start',  onclick:'return BtnClicked()') %>
  </p>
<% end %>

</div>