<% content_for :title do %>
  Ask for an advisor | 
<% end %>

<script>

// change this on every page if making changes



// end same code

document.addEventListener('DOMContentLoaded', (event) => {
const element = document.querySelector('form');
element.addEventListener('submit', event => {
  var valid = false;
  var errors = [];

  var nameEntered = hasValue('name');
  var nameErrors = {errorId: "name", errorText: "Please enter your full name"};
  var emailEntered = hasValue('email');
  var emailErrors = {errorId: "email", errorText: "Please enter a valid email address"};


  if(nameEntered.length > 0 && emailEntered.length > 0){  
    valid = true;
  } 
    
  if(nameEntered.length === 0) {
    setErroredState('name');
    errors.push(nameErrors);
  }

  if(emailEntered.length === 0) {
    setErroredState('email');
    errors.push(emailErrors);
  }

  if(errors.length > 0) {
    document.getElementById('errorSummary').innerHTML = errorSummaryTemplate(errors);
  }

  if(!valid) {
    event.preventDefault();
    console.log('Form submission cancelled.');
  } 

  });

})


</script>

<%= link_to("Back", current_page_params.merge(step: '2'), class: "govuk-back-link") %>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Your details</h1>
          <p class="govuk-body">We need your details to get in touch with you. We won&#39;t use them for anything else.</p>




          <div id="errorSummary"></div>


            <%= form_tag('/services/thankyou',{:method => "get"}) do %>




            <div class="govuk-form-group" id="form-name">

                <label class="govuk-label" for="name">
                    Full name
                </label>

                <span class="govuk-error-message start-hidden">
                  <span class="govuk-visually-hidden">Name:</span> Please enter your full name
                </span>


                <%= text_field_tag(:name, "", class: 'govuk-input govuk-input--width-20') %>

            </div>



            <div class="govuk-form-group" id="form-email">

                <label class="govuk-label" for="email">
                    Email address
                </label>


                <span class="govuk-error-message start-hidden">
                  <span class="govuk-visually-hidden">Email:</span> Please enter a valid email
                </span>

                <%= text_field_tag(:email, "", type:'email', autocomplete: "email", name:'email', spellcheck:'false', class: 'govuk-input govuk-input--width-20') %>

            </div>


            <div class="govuk-form-group" id="form-phone">

                <label class="govuk-label" for="phone">
                    Phone or mobile number (optional)
                </label>


                <%= text_field_tag(:phone, "", autocomplete: "tel", type:"tel", inputmode:'numeric', pattern:'[0-9]*', class: 'govuk-input govuk-input--width-20') %>

            </div>

            <div class="govuk-form-group ">

                <label class="govuk-label" for="comments">
                    Do you have any comments for the advisor? (optional)
                </label>

                <%= text_area_tag(:comments, "", rows: 5, class: 'govuk-textarea  govuk-!-width-two-thirds') %>

            </div>

            <% @persist.except('name','email','phone').each do |key,value| %>
            <%= hidden_field_tag(key,value) %>
            <% end %>
            <br />


            <div id="supportError">
            </div>

            <p>

                <%= button_tag("Finish", type: 'submit', class:'app-button app-button--start') %>

            </p>
            <% end %>



        </div>
    </div>
</main>