
<script>

    function BtnClicked(){

        var nameEntered = HasValue('name');
        var emailEntered = HasValue('email');

        if(nameEntered != '' && emailEntered != ''){
            return true;
        }
        else{
            document.getElementById("supportError").style.visibility = "visible";
            document.getElementById("supportError").classList.add("app-options-validation");
            document.getElementById("supportError").innerHTML = "Please enter your full name and <br>a valid email address in the correct format, like name@example.com";

        return false;
        }
    }

    function HasValue(id){
        var val = '';
        val = document.getElementById(id).value;
        return val;
    }

</script>

<div class="govuk-width-container govuk-body">
    <div class="govuk-grid-row">

        <h1 class="govuk-heading-l">Your details</h1>

        <div class="govuk-grid-column-two-thirds">

            <p>

                <p class="govuk-hint">We need your details to get in touch with you. We won&#39;t use them for anything else.</p>

            </p>

            <%= form_tag('/services/thankyou',{:method => "get", :enforce_utf8 => true}) do %>


            <div class="govuk-form-group">

                <label class="govuk-label" for="name">
                    Full name
                </label>

                <%= text_field_tag(:name, "", class: 'govuk-input govuk-input--width-20') %>

            </div>



            <div class="govuk-form-group">

                <label class="govuk-label" for="email">
                    Email address
                </label>

                <%= text_field_tag(:email, "", type:'email', autocomplete: "email", name:'email', spellcheck:'false', class: 'govuk-input govuk-input--width-20') %>

            </div>


            <div class="govuk-form-group ">

                <label class="govuk-label" for="phone">
                    Phone or mobile number (optional)
                </label>

                <%= text_field_tag(:phone, "", autocomplete: "tel", type:"tel", inputmode:'numeric', pattern:'[0-9]*', class: 'govuk-input govuk-input--width-20') %>

            </div>

            <% @persist.except('name','email','phone').each do |key,value| %>
            <%= hidden_field_tag(key,value) %>
            <% end %>
            <br />


            <div id="supportError">
            </div>

            <p>

                <%= button_tag("Finish", type: 'submit', class:'app-button app-button--start', onclick:'return BtnClicked()') %>

            </p>
            <% end %>


        </div>
    </div>
</div>