<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Results</li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Service</li>
  </ol>
</div>

<div class="app-panel-details-width govuk-body">





    <h1 class="govuk-heading-l"><%= @service.name -%></h1>

    <h2 class="govuk-hint"><%= @service.description -%></h2>

    <p>
        <div class="govuk-body app-panel-covid-information"> 
        <label class="app-label-title"> COVID-19 information</label><br>
        Despite the current situation with COVID-19, 
        the service is working hard to continue to support Camden residents. 
        Information, advice and guidance is currently available over the 
        phone and via email. 
        </div>
    </p>

    <p>
    
        <label class="govuk-label-title">How they can help</label><br>
        <p>
        </p>
    
  
    </p>

</div>


<div class=" app-panel-contact govuk-body">

<h3>Contact details</>

<p>

    <label class="app-label-title">Location</label><br>
    <label class="app-label-text"><%= @service.address -%></label>

</p>



<p>

    <label class="app-label-title">Get in touch</label><br>
    <label class="app-label-text"><%= @service.phone -%></label>
    <label class="app-label-text"><%= @service.email -%></label>

</p>

<p>

    <label class="app-label-title">Opening hours</label><br>
    <label class="app-label-text"><%= @service.hours -%></label>

</p>


<p>

    <label class="app-label-title">Website</label><br>
    <label class="app-label-text"><%= @service.website -%></label>

</p>

</div>

<div>


<p>
    <a class="app-button app-button--start" href="<%= @service.website %>">Visit website</a>

</p>

</div>

<div class="app-map">

    <iframe id="iframe-Mapp" width="600"     
        height="450" 
        frameborder="0" 
        style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAKrLiNDnAI-f3rTVW7ZIYvixNNKfLGP_0&q=<%= @service.address %>&zoom=18&" allowfullscreen>
    </iframe>

</div>


<div class="app-div-details-missing-text">

    <p>

        <h3 class="govuk-heading-m">Is anything missing?</>

    <p/>
  
        <p class="govuk-hint">If there's anything out of date or missing from this service, you can request it to be updated.</p>


</div>


</div>