<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Results</li>
  </ol>
</div>

<% if @services.blank? %>
  <p class="govuk-body">Sorry, we don't have any services that match your criteria.</p>
<% else %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your results</h1>
        <p class="govuk-hint">Based on your answers, we think you might find these services near you helpful. We can email this list to you for future reference. We don't view or store your details.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ul id="servicelist" class="services-list">
        <% @services.each do |s| %>    
          <li class="services-list__result">

            <h2 class="services-list__name"><%= s.name %></h2>
            <p class="services-list__location"><%= s.wards %> (<%= s.distance_to(params[:loc], :mi).round(1) %> miles away)</p>
            <p class="services-list__summary"><%= s.summary %></p>

            <ul class="services-list__selling-points">
              <% s.tags.each do |t| %>
                  <% if t.displayed == 1 then %>
                      <li><%= t.description %></li> 
                  <% end %>
              <% end %>
            </ul>


            <%= link_to "View details", {:action => 'details', :id => s.id }, class: "services-list__button" %>

          </li>
        <% end %>
      </ul>

    </div>

    <div class="govuk-grid-column-one-third email-to-me">
      <h4 class="app-m-email-label">Email your results</h4>

      <p>Send these results in a handy email to yourself or a friend.</p>

      <%= form_tag('services/emailresults') do %>
        
        <label class="visually-hidden" for="email">Email address</label>
        <%= text_field_tag(:email, "", id: "email", type:'email', placeholder: "Email address", autocomplete: 'email', required: true, class: 'govuk-input app-m-small') %>
          
        <% @persist.each do |key,value| %>
          <%= hidden_field_tag(key,value) %>
        <% end %>

        <%= button_tag("Send", type: 'submit', id: 'btnSend', name: 'send', value: '1') %>
      
      <% end %>
    </div>
  </div>

<% end %>