<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" aria-current="page">Contact</a>
    </li>
  </ol>
</div>



<main class="govuk-main-wrapper" id="main-content" role="main">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact</h1>

        <%= form_tag('/contact/thankyou',{:method => "get", :enforce_utf8 => false}) do %>
                <div class="govuk-form-group">

                    <label class="govuk-label" for="name">
                        Full name
                    </label>
                    <%= text_field_tag(:name, "", class: 'govuk-input govuk-!-width-one-half', required: true) %>
                </div>

                <div class="govuk-form-group">

                    <label class="govuk-label" for="email">
                        Email address
                    </label>
                    <%= text_field_tag(:email, "", type: 'email', class: 'govuk-input govuk-!-width-one-half', required: true) %>

                </div>
                <div class="govuk-form-group">

                    <label class="govuk-label" for="message">
                        Your message
                    </label>
                    <%= text_area_tag(:message, "", rows: 5, class: 'govuk-textarea  govuk-!-width-two-thirds', required: true) %>
                </div>

                <p>
                    <%= button_tag("Submit", type: 'submit', class:'app-button app-button--start', onclick:'return BtnClicked()') %>
                </p>
            <% end %>







    
  </div>


  <div class="govuk-grid-column-one-third">
    <div class="gwc-side-content gwc-side-content--blue">
      
      <!-- 
        <div class="gwc-side-content__heading">Related content</div>
        <ul class="gwc-side-content__list">
            <li><a href="#">Get employment support in camden</a></li>
        </ul> -->



        
        <div class="gwc-side-content__heading">Contact Details</div>
        <div class="gwc-side-content__divider"></div>
        <p class="govuk-body">
        Good Work Camden<br />
        5 Pancras Square<br />
        London<br />
        N1C 4AG
        </p>

        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="mailto:gwc@camden.gov.uk">gwc@camden.gov.uk</a>
        <br />
        <span class="govuk-!-font-weight-bold">Phone:</span> 020 7974 4444</p>
    </div>
  </div>
</div>

</main>















